.menu{
    width: 100%;
}
.menu ul{
    display: flex;
    list-style: none;
    justify-content: center;

}
.menu img{
    width: 50%;
}
.menu ul li{
    flex: 0.2;
    display: flex;
    justify-content: center;
    
}