.listaCanciones{
    width: 25%;
    display: grid;
    place-self: center;
}

.cancion{
    position: relative;
    display: flex;
    height: 2.5rem;
    background-color: antiquewhite;
    margin: 0.2rem 0;
    border-radius: 0.2rem;
    align-items: center;

}
.name{
    font-weight: 600;
    margin: 0 1rem;
}
.icon{
    display: flex;
    justify-content: center;
    position: absolute;
    right: 1rem;
}